<?php
	/* SHOPIFY CONFIG */
	define('SHOPIFY_API_KEY', 'XXXXXXXXXX');
	define('SHOPIFY_SECRET', 'XXXXXXXXXX');
	define('SHOPIFY_SCOPE', 'read_orders,read_products,read_customers');

	define('FTP_SERVER', 'XXXXXXXXXX.com');
	define('FTP_SERVER_DIR', 'SO_Files');

	$mysql=parse_url(getenv("CLEARDB_DATABASE_URL"));
	define('MYSQL_SERVER', $mysql["host"]);
	define('MYSQL_DB_NAME', substr($mysql["path"],1));
	define('MYSQL_DB_UNAME', $mysql["user"]);
	define('MYSQL_DP_PWORD', $mysql["pass"]);

	$preferences = array(
		'ClientCode' => null,
		'CarrierCode' => null,
		'FTPUserName' => null,
		'FTPPassword' => null,
		);
	
	if (class_exists("Smarty"))
	{
		$smarty = new Smarty;
		//$smarty->force_compile = true;
		$smarty->debugging = false;
		$smarty->caching = false;
		$smarty->cache_lifetime = 120;
	}

	/* simple debug function */
	function debug(&$var) {
		echo "<pre>";
		print_r($var);
		echo "</pre>";
	}
